:host {
    display: block;
    width: 100%;
    height: 100%;
}

.esri-view {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#mapViewNode {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}